<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8" />
    <title>Stage3 Deployment</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
    <header>
        發表一篇圖文
    </header>
    <main>
        <div class="message-form">
            <div>
                <label for="message">文字內容</label>
                <input type="text" id="id-message" name="message">
            </div>
            <div>
                <label for="image">圖片檔案</label>
                <input type="file" id="id-image" name="image">
            </div>
            <button id="id-button">送出</button>
        </div>
        <hr>
        <div id="id-board">

        </div>
    </main>
    <script src="../static/index.js"></script>
</body>
</html>
